[submodule "up_recuitment"]
	path = up_recuitment
	url = https://github.com/cysnake4713/up_recuitment.git
[submodule "up_internship"]
	path = up_internship
	url = https://github.com/TommyU/up_internship.git
[submodule "wkf_group_ext"]
	path = wkf_group_ext
	url = https://github.com/TommyU/wkf_group_ext
[submodule "wkf_msg"]
	path = wkf_msg
	url = https://github.com/TommyU/wkf_msg
