{% macro menu_link(menu) %}
    <a href="#">
        <span> <strong> {{ menu.name }} </strong> </span>
        {% if menu.needaction_enabled and menu.needaction_counter %}
            <div class="oe_tag oe_tag_dark oe_menu_counter">
                {{ menu.needaction_counter }}
            </div>
        {% endif %}
    </a>
{% endmacro %}
{% macro menu(parent) %}
    {% for menu in parent.children %}
        <li class="{{ menu.children and 'parent' or '' }}">
            {{ menu_link(menu) }}
            {% if menu.children %}
                <ul class="sub-menu">
                    {% for sub_m in menu.children %}
                        <li>
                            {{ menu_link(sub_m) }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
