{% macro render_pagination(pagination) %}
    <div class="">
        {%- for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <a title="{{ page }}" class="page" href="{{ page }}">{{ page }}</a>
                {% else %}
                    <span class="current">{{ page }}</span>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
            <a href="{{ pagination.page + 1}}">Next &raquo;</a>
        {% endif %}
    {{ pagination.pages }}
    </div>
{% endmacro %}