{% import "_menus.html" as menus %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" media="screen" href="{{ url_for('.static',filename='css/style.css') }}">
        <link rel="stylesheet" media="screen" href="{{ url_for('.static',filename='css/internal-home.css') }}">
        <link rel="stylesheet" media="screen" href="{{ url_for('.static',filename='css/karma-teal-grey.css') }}">
    {% endblock %}
</head>
<body>
<div id="wrapper" class="openerp openerp-internal">
    <div id="header">
        <div class="top-block">
            <div class="top-holder">
                <!-- ***************** - Top Toolbar Left Side - ***************** -->
                <div class="sub-nav">
                    <ul>
                        <li><a id="link_home" href="#">Backoffice</a></li>
                    </ul>
                </div>
                <!-- ***************** - END Top Toolbar Left Side - ***************** -->
                <!-- ***************** - Top Toolbar Right Side - ***************** -->
                <div class="oe_topbar sub-nav2" style="background-image:none;background-color:#000;width:auto;">
                    {% if request.erpsession.login == 'upcms' %}
                        <a href="#">Login</a>
                    {% else %}
                        <strong>{{ request.erpsession._login }}</strong>
                    {% endif %}
                </div>
                <!-- end sub-nav2 -->
            </div>
        </div>
        <div class="header-holder">
            <div class="rays">
                <div class="header-area">
                    <a class="logo" href="{{ url_for('.index') }}">
                        <img alt="UPDIS" src="{{ url_for('.static',filename='img/logo.gif') }}">
                    </a>
                    <ul id="menu-main-nav">
                        {{ menus.menu(top_menu) }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="main-area">
            {% block tools %}
            {% endblock %}
            <div class="main-holder">
                <div id="content" class="{% block content_class %} content_full_width {% endblock %}">

                    {% block content %}
                    {% endblock %}
                </div>
                {% block sidebar %}

                {% endblock %}
            </div>
        </div>
        <div id="footer">
            <div class="footer-area">
                <div class="footer-wrapper">
                    <div class="footer-holder">
                        {% for menu in footer_menu %}
                            <div class="{{ loop.last and 'one_fifth_last' or 'one_fifth'}}">
                                <h3>{{ menu.name }}</h3>
                                <ul>
                                    {% for m in menu.children %}
                                        <li>
                                            {{ menus.menu_link(m) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block js %}
    <script src="{{ url_for('.static',filename='js/jquery-1.4.2.min.js') }}"></script>
    <script src="{{ url_for('.static',filename='js/updis.js') }}"></script>
    <script src="{{ url_for('.static',filename='js/karma.js') }}"></script>
    <script src="{{ url_for('.static',filename='js/tab.js') }}"></script>
{% endblock %}
</body>
</html>

