.openerp .separate {
    border: 1px solid gainsboro;
}

.openerp .oe_statusbar_header {
    display: inline-block;
    position: relative;
    margin-left: 800px;
}

.openerp table.activetable, .openerp table.activetable td, .openerp table.activetable  tr {
    border: 1px solid #000000;
}