{% extends "base.html" %}
{% block content %}
    <div id="news">
        {% for cat in message_categories.shortcut %}
            <div class="{{ loop.cycle('one_third', 'one_third', 'one_third_last') }}">
                <h2>{{ cat.name }}</h2>
                <ul style="list-style:none;padding-left:10px;">
                    {% for msg in cat.children %}
                        <li>
                            <a target="_blank" class="page-item" href="{{ url_for('.message_view',message_id=msg.id) }}">{{ msg.category_message_title_meta_display|safe }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <p><a class="ka_button small_button" href="{{ url_for('.category_messages',cat_id=cat.id,page=1) }}"><span>更多..</span></a></p>
            </div>
        {% endfor %}
    </div>
{#    Content left#}
    <div class="one_half" id="tabbox">
        <ul id="tabs" class="tabs">
            {% for cat in message_categories.content_left %}
                <li class="{% if loop.counter0 == 0 %}thistab {% endif %}">
                    <a href="#">{{ cat.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul id="tab_conbox" class="tab_conbox">
            {% for cat in message_categories.content_left %}
                <li class="tab_con" style="display: list-item">
                    <div class="nr">
                        {% for msg in cat.children %}
                            <p style="padding: 0">
                                <a target="_blank" class="page-item" href="{{ url_for('.message_view',message_id=msg.id) }}">{{ msg.category_message_title_meta_display|safe }}</a>
                            </p>
                        {% endfor %}
                        <p><a class="ka_button small_button" href="{{ url_for('.category_messages', cat_id=cat.id,page=1) }}"><span>更多..</span></a></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="one_half_last" id="tabbox2">
        <ul id="tabs2" class="tabs">
            {% for cat in message_categories.content_right %}
                <li class="{% if loop.counter0 == 0 %}thistab {% endif %}">
                    <a href="#">{{ cat.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul id="tab_conbox2" class="tab_conbox">
            {% for cat in message_categories.content_right %}
                <li class="tab_con" style="display: list-item">
                    <div class="nr">
                        {% for msg in cat.children %}
                            <p style="padding: 0">
                                <a target="_blank" class="page-item" href="{{ url_for('.message_view',message_id=msg.id) }}">{{ msg.category_message_title_meta_display|safe }}</a>
                            </p>
                        {% endfor %}
                        <p><a class="ka_button small_button" href="{{ url_for('.category_messages', cat_id=cat.id,page=1) }}"><span>更多..</span></a></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clear department-container tabs-container" id="tabbox_c">
        <a class="arrow" href="#">
            <img src="{{ url_for('.static',filename='img/left.gif') }}">
        </a>
        <a class="arrow_r" href="#">
            <img src="{{ url_for('.static',filename='img/right.gif') }}">
        </a>
        <ul class="tabs" id="tabs3">
            {% for dep in message_categories.departments %}
                <li>
                    <a href="#">{{ dep.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="tab_conbox" id="tab_conbox3">
            {% for dep in message_categories.departments %}
                <li class="tab_con" style="display: list-item">
                    <div class="term" >
                        {% for cat in dep.categories %}
                            <dl class="{{ loop.cycle('one_fourth', 'one_fourth', 'one_fourth', 'one_fourth') }}">
                                <dt>{{ cat.name }}</dt>
                                {% for msg in cat.messages %}
                                    <dd>
                                        <a target="_blank" class="page-item" href="{{  url_for('.message_view', message_id=msg.id) }}">{{ msg.category_message_title_meta_display|safe }}</a>
                                    </dd>
                                {% endfor %}
                            </dl>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}