.openerp {
	font-family: "Microsoft YaHei", "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
	font-size: 100%;
	text-shadow:none;
}
.openerp-internal{
	font-family: "Microsoft YaHei";
}
.openerp-internal .oe_loading {
	display: none;
	z-index: 100;
	position: fixed;
	top: 0;
	right: 50%;
	padding: 4px 12px;
	background: #A61300;
	color: white;
	text-align: center;
	border: 1px solid #900;
	border-top: none;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.content_full_width {
	padding: 0;
}

#main h2 {
	font-weight: bold;
	font-size: 1.2em;
}
#news {
	background: url('../img/news_bj.jpg') no-repeat center top;
	min-height: 261px;
}
.sign {
	margin-left: 40px;
}
.sign a {
	display: block;
	width: 95px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	color: white !important;
	float: left;
	background: url('../img/sign_bj.gif') no-repeat;
	text-decoration: none;
	margin: 4px;
}
.msg {
	float: left;
	margin-top: 15px;
	width: 263px;
	height: 46px;
	padding: 0 18px;
	padding-top: 8px;
	background: url('../img/msg_bj.gif') no-repeat;
}
.msg a {
	margin: 0 6px;
}
.search {
	width: 320px;
	margin: 15px 0;
}
.search input {
	background: url('../img/bgsch.gif') left center no-repeat;
	border: 0;
	width: 272px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	text-indent: 10px;
}
.search input.button {
	background: url('../img/btnsch.gif') left top repeat-x;
	border: 0;
	width: 36px;
	height: 25px;
}
.search .opt {
	top: 48px;
	right: 4px;
	padding-right: 2px;
	color: #4E4E4E;
}
.search .opt a {
	margin: 0 6px;
}
.tabbox {
	width: 465px;
	overflow: hidden;
	margin: 0 auto 36px;
	float: left;
}
.tabs {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 24px;
	width: 20000px;
}
.tabs li {
	height: 24px;
	line-height: 24px;
	float: left;
	border: 1px solid #4E656A;
	border-bottom: none;
	margin-bottom: -1px;
	background: url('../img/tab_bj1.jpg') repeat-x center top;
	overflow: hidden;
	position: relative;
	margin-right: 1px;
}
.tabs .thistab, .tabs .thistab a, .tabs .thistab a:hover {
	background: url('../img/tab_bj2.jpg') repeat-x center top;
	border-bottom: none;
	color: #526970;
}
.tab_conbox {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 1px solid #E0E0E0;
	margin-right: 1px;
	margin-top: 25px;
}
.tab_con {
	background-color: white;
	padding: 20px 0 10px;
	min-height: 307px;
}
.tab_con .nr {
	width: 424px;
	margin: 14px 0px 0 20px;
}
.tab_con .nr p {
	margin: 0 auto;
	height: 24px;
	line-height: 24px;
	width: 424px;
	overflow: hidden;
	/*color: #357386;*/
}
#bodyContent a, #sidebar a, .content_full_width a {
	color: #4E4E4E;
	text-decoration: none;
}
.tab_con .nr p a {
	padding-right: 12px;	
}
#content p{
	padding: 0;
}
#content .tabs {
	position: absolute;
}
#content .tabs .thistab, #content .tabs .thistab a,#content .tabs .thistab a:hover {
	background: url('../img/tab_bj2.jpg') repeat-x center top;
	border-bottom: none;
	color: #526970;
}
#content .tabs li a {
	text-decoration: none;
	display: block;
	padding: 0 19px;
	outline: none;
	border-bottom: 1px solid #4E656A;
	font-weight: bold;
	color: white;
}
.tab_con dl.short {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 148px;
	border-bottom: 1px solid #E0E0E0;
}
.tab_con dl.short dt {
	width: 137px;
	margin: 0 12px 0 20px;
	float: left;
	height: 98px;
	background: url('/updis/static/src/img/tab_bj3.gif') repeat-x center 92px;
}
.tab_con dl.short dd {
	width: 270px;
	height: 98px;
	overflow: hidden;
}
.tab_con dl.short dd a {
	font-size: 14px;
	font-weight: bold;
	color: #44656F;
}
.tab_con dl.short dd p {
	margin: 0 auto 5px;
	color: #A4A4A4;
}
.tab_con dl.short dd span {
	color: #828181;
	line-height: 16px;
}
.tab_con .term{
	position:relative;
	margin:0 auto;
	width:100%;
	overflow:hidden;
}
.tab_con .term dl{
	/*float:left;*/
	/*width:299px;*/
	margin:0 auto;
	padding-left:20px;
	min-height:180px;
	_height:expression((document.documentElement.clientHeight||document.body.clientHeight)>180?"180px":"");
}
.tab_con .term dl dt{
	width:100%;
	margin:0 auto;
	height:28px;
	font-size:15px;
	font-family:"微软雅黑";
	color:#000;
	font-weight:bold;
}
.tab_con .term dl dt span{
	 color:#ddd;
	 font-size:16px;
	 padding-left:4px;
 }
.tab_con .term dl dd{
	margin:0 auto;
	width:100%;
	float:none;
	overflow:hidden;
	height:24px;
	line-height:24px;
	text-indent:8px;
	background:url('/updis/static/src/img/icon_bj.gif') no-repeat left center;
}
.tab_con .term dl .tp{
	display:block;
	width:215px;
	height:150px;
	background:url('/updis/static/src/img/term_bj.gif') no-repeat center bottom;
}
.tab_con .term dl .tp img{
	width:215px;
	height:142px;
}
.tabs-container .arrow{
	position: absolute;
	display:block;
	width:18px;
	z-index: 10;
	background: #fff;
	height:30px;
	left: 0px;
}
.tabs-container .arrow_r{
	position: absolute;
	display:block;
	width:18px;
	right: 0px;
	z-index: 10;
	background: #fff;
	height:30px;
}
.department-container {
	overflow:hidden;
	position:relative;
}
.department-container .tabs {
	margin-left: 18px;
}
.page-meta{
	color: gray;
}